body{
    background: linear-gradient(to right,#9c27b0,#8ecdff);
}

*{
    margin: 0;
    padding: 0;
    font-family: Liberator;

}

.top{
    width: 100%;
    height: 35vh;
    position: relative;
    overflow: hidden;


}
#footer-div{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    align-items: center;
    text-align: justify-all;
}


#top-border{
    border: 5px solid #B32424;

}




nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

#img-title{
    padding-right: 50px;
    width: 100px;
    vertical-align:middle
}


.text-title{
    font-size: 30px;
    font-weight: bold;
    font-family: Ebrima;

}



.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}


#Github{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    padding-left: 10px;
}

#Contact{
    padding-top: 20px;
    padding-right: 50px;
    float: right;
    display: inline;

}

#footer-border{
    border: 5px solid #ffffff;

}

